{
  "id": "mysql-db",
  "cpus": 0.1,
  "mem": 200,
  "instances": 1,
  "container": {
    "type": "DOCKER",
    "docker": {
      "image": "mysql:5.7",
      "parameters": [
          {"key": "env", "value": "MYSQL_ROOT_PASSWORD={{mysql_root_password}}"},
          {"key": "env", "value": "MYSQL_USER={{mysql_app_user}}"},
          {"key": "env", "value": "MYSQL_PASSWORD={{mysql_app_password}}"},
          {"key": "env", "value": "MYSQL_DATABASE={{mysql_app_database}}"}
      ],
      "network": "BRIDGE",
      "portMappings": [
          {"containerPort": 3306, "hostPort": 0, "servicePort": 3306, "protocol": "tcp" }
      ]  
    },
    "volumes": [{
        "containerPath": "/var/lib/mysql",
        "hostPath": "/var/lib/mysql",
        "mode": "RW"
    }]
  },
  "healthChecks": [
    {
      "protocol": "TCP",
      "portIndex": 0,
      "gracePeriodSeconds": 5,
      "intervalSeconds": 20,
      "maxConsecutiveFailures": 3
    }
  ]
}
